/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .underline-head {
    margin-top: 2rem;
  }
  .about-us img {
    width: 30%!important;
  }
  .work-box-body h5 {
    font-size: 1rem;
  }
  .work-box-body span {
    font-size: 0.8rem;
  }
  .home-content h1 {
    font-size: 2rem!important;
  }
  .typing {
    font-size: 1.5rem!important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
  .underline-head {
    margin-top: 2rem;
  }
  .about-us img {
    width: 30%!important;
  }
  .home-content h1 {
    font-size: 3rem;
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .work-box-body h5 {
    font-size: 1rem;
  }
  .work-box-body span {
    font-size: 0.8rem;
  }
  .underline-head {
    margin-top: 2rem;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .work-box-body h5 {
    font-size: 1rem;
  }
  .work-box-body span {
    font-size: 0.8rem;
  }
}